@font-face {
    font-family: Tajawal;
    src: url("../font/Tajawal/Tajawal-Light.ttf");
    font-weight: 100;
}

@font-face {
    font-family: Tajawal;
    src: url("../font/Tajawal/Tajawal-Medium.ttf");
    font-weight: normal;
}

@font-face {
    font-family: Tajawal;
    src: url("../font/Tajawal/Tajawal-Bold.ttf");
    font-weight: bold;
}

/* @font-face {
    font-family: 'Dancing Script';
    src: url("../font/Dancing_Script/static/DancingScript-Regular.ttf");
    font-weight: 500;
} */

@font-face {
    font-family: 'DM Serif Text';
    src: url("../font/DM_Serif_Text/DMSerifText-Regular.ttf");
    font-weight: 500;
}

*{
    font-family: 'Tajawal', sans-serif;
}

.font2{
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'DM Serif Text', serif;
}

.navbar-brand{
    font-family: 'DM Serif Text', serif;
    font-size: 32px;
}

p, .nav-link{
    font-size: 18px;
}

.offcanvas-start {
    width: 70%;
}

.pt-big{
    padding-top: 96px !important;
}

.pb-big{
    padding-bottom: 96px !important;
}

.uncolor{
    filter: grayscale(100%);
}

.cursor-pointer{
    cursor: pointer;
}

.modal-header{
    border: none;
}

.img-box{
    width: 100%;
    height: 200px;
}

.img-box-big{
    width: 100%;
    height: 300px;
}

.img-box-small{
    width: 100%;
    max-width: 200px;
    height: 64px;
}

.img-box img, .img-box-big img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}