@font-face {
    font-family: Tajawal;
    src: url("../font/Tajawal/Tajawal-Light.ttf");
    font-weight: 100;
}

@font-face {
    font-family: Tajawal;
    src: url("../font/Tajawal/Tajawal-Medium.ttf");
    font-weight: normal;
}

@font-face {
    font-family: Tajawal;
    src: url("../font/Tajawal/Tajawal-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: 'Dancing Script';
    src: url("../font/Dancing_Script/static/DancingScript-Regular.ttf");
    font-weight: 500;
}

*{
    font-family: 'Tajawal', sans-serif;
}

.font2{
    font-family: 'Dancing Script', cursive;
}

.navbar-brand{
    font-family: 'Dancing Script', cursive;
    font-size: 32px;
}

p, .nav-link{
    font-size: 18px;
}

.offcanvas-start {
    width: 70%;
}

.pt-big{
    padding-top: 64px;;
}